/* Normalize first */
@import '../node_modules/normalize.css/normalize.css';

::selection {
  background: hsl(225, 100%, 90%);
}

body {
  /* Dimensions */
  --iOSSafariToolbarHeight: 112px;
  --safeAreaInsetTop: 0px;
  --safeAreaInsetRight: 0px;
  --safeAreaInsetBottom: 0px;
  --safeAreaInsetLeft: 0px;
  --fontXSmall: 12px;
  --fontSmall: 14px;
  --fontMedium: 16px;
  --fontLarge: 18px;

  /* Colors */
  --darkGray: hsla(0, 0%, 0%, 0.8);
  --mediumGray: hsla(0, 0%, 0%, 0.4);
  --lightGray: hsla(0, 0%, 0%, 0.2);
  --linkColor: hsla(225, 100%, 50%, 0.8);
  --bodyBackground: #008080;
  --navbarBackground: hsl(225, 5%, 95%);
  --navbarBackgroundTransparent: hsla(225, 5%, 95%, 0);

  /* Z-indices */
  --zNavbar: 1;

  color: var(--darkGray);
  font-family: Microsoft Sans Serif, Wine Microsoft Sans Serif, Arial,
    MS UI Gothic, sans-serif;
  background-color: var(--bodyBackground);
  -webkit-font-smoothing: antialiased;
}

/* Browsers which partially support CSS Environment variables (iOS 11.0-11.2) */
@supports (padding-top: constant(safe-area-inset-top)) {
  body {
    --safeAreaInsetTop: constant(safe-area-inset-top);
    --safeAreaInsetRight: constant(safe-area-inset-right);
    --safeAreaInsetBottom: constant(safe-area-inset-bottom);
    --safeAreaInsetLeft: constant(safe-area-inset-left);
  }
}

/* Browsers which fully support CSS Environment variables (iOS 11.2+) */
@supports (padding-top: env(safe-area-inset-top)) {
  body {
    --safeAreaInsetTop: env(safe-area-inset-top);
    --safeAreaInsetRight: env(safe-area-inset-right);
    --safeAreaInsetBottom: env(safe-area-inset-bottom);
    --safeAreaInsetLeft: env(safe-area-inset-left);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: black;
  font-family: Palatino, serif;
  letter-spacing: 0.01875em;
}

p {
  margin: 0 0 24px;
}

/* For some reason the main Gatsby div highlights on touch in iOS Safari */
[tabindex='-1'] {
  -webkit-tap-highlight-color: transparent;
}

[tabindex='-1'] > * {
  -webkit-tap-highlight-color: initial;
}
